.pop-up {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.535);
}

.close-pop-up {
    top: 0;
    background: transparent;
    height: 40%;
    width: 100%;
}

.pop-up-container {    
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding-bottom: 30px;
    z-index: 100000;
}


.pop-up-title{
    font-family: 'Gilroy-ExtraBold';
    margin: 10px 0 10px 20px;
    font-size: 1.3rem;
}

.division {
    height: 4px;
    margin: 0 5px 0 5px;
    background: rgb(224, 224, 224);
}

.pop-up-item-size {
    margin: 10px 20px 10px 20px;
}

.pop-up-item-size-title {
    font-family: 'Gilroy-ExtraBold';
    font-size: 1rem;
    line-height: 30px;
}

.pop-up-item-size-value {
    
    border: 3px solid #fcd404;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8px 5px 8px;
    font-size: 1em;
    margin-bottom: 5px;
}

.popupactivebtn {
    background: #ffd504;
    border: 3px solid #fcd404;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8px 5px 8px;
    font-size: 1em;
    margin-bottom: 5px;
}


.pop-up-option{
    margin: 5px 20px 10px 20px;
}

.pop-up-option-title {
    font-family: 'Gilroy-ExtraBold';
    line-height: 30px;
    font-size: 1.1em;
}

.pop-up-item-size-name{
    font-family: 'Gilroy-ExtraBold';
}

.pop-up-item-size-prize{
    font-family: 'Gilroy-ExtraBold';
}

.option {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    line-height: 30px;
}

.option-content-name{
    font-family: 'Gilroy-ExtraBold';
}

.option-content-prize{
    font-family: 'Gilroy-ExtraBold';
}

.option input {
    
    accent-color: #ffd504;
}




.counter {
    font-family: 'Gilroy-ExtraBold';
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.counts {
    font-family: 'Gilroy-ExtraBold';
    padding: 5px 10px 5px 10px;
    border: 3px solid #fcd404;
    background: #ffd504;
    border-radius: 7px;
    font-size: 1.1rem;
}

.counter-value {
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
    border: 3px solid #fcd404;
    border-radius: 7px;
}

.cart {
    display: flex;
    justify-content: center;
}


.add-to-cart {
    font-family: 'Gilroy-ExtraBold';
    padding: 5px 60px 5px 60px;
    border: 3px solid #fcd404;
    background: #ffd504;
    border-radius: 7px;
}

.add-to-cart :active {
    background: #fcd404;
}